.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
gems.locked
bin/*
.bundle/*

# test kitchen
.kitchen/
.kitchen.local.yml

# Ansible
roles/

#OS X
.DS_Store
._*
.DocumentRevisions*
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# JetBrains
.idea/
out/

# Vim
*~
*.swp
